<button
  class="btn btn-lg mt-5 mb-4 text-center shadow p-3 mb-5 bg-info"
  style="border-radius: 30px;color:#ffff;"
>
  <i class="fa fa-trash" aria-hidden="true" style="color:#ffff;"></i
  >&nbsp;&nbsp;Delete
</button>
&nbsp;&nbsp;
<button
  class="btn btn-lg mt-5 mb-4 text-center shadow p-3 mb-5 bg-primary"
  style="border-radius: 30px;color:#ffff;"
>
  <i class="fa fa-thumb-tack" aria-hidden="true" style="color: #ffff;"></i
  >&nbsp;&nbsp;mark as read
</button>
&nbsp;&nbsp;
<button
  class="btn btn-lg mt-5 mb-4 text-center shadow p-3 mb-5 bg-danger"
  style="border-radius: 30px;color:#ffff;"
>
  <i class="fa fa-long-arrow-right" aria-hidden="true" style="color: #ffff;"></i
  >&nbsp;&nbsp; Forward
</button>
<div class=" mt-5">
  <h1 class="h3 text-muted">{{ myDataValue.Exercise }}</h1>
  <p>
    Name:&nbsp;<span class="text-muted">{{ myDataValue.myEmail }}</span>
  </p>
  <p>
    Time:&nbsp;<span class=" text-muted">{{ myDataValue.Time }}</span>
  </p>
  <p>
    Description:&nbsp;<span class=" text-muted">{{
      myDataValue.Description
    }}</span>
  </p>
</div>
