<app-navbar></app-navbar>

<div class="col-md-12">
    <div class="row">
        <div class="col-md-9">
            <h1 class="d-none d-md-flex headerText">Cismox email system</h1>
            <div>
                <img src="../../assets/undraw_message_sent_1030.png" class="d-none d-md-flex " />
            </div>
        </div>
        <div class="col-md-3 mt-5">
            <div class="row" style="display: flex;justify-content: space-around;">
                <div>
                    <a routerLinkActive="router-link-active" [routerLink]="['/layout/login']"
                        routerLinkActive="router-link-active">sign in to continue</a>

                </div>
                <div>
                    <a routerLinkActive="router-link-active" [routerLink]="['/layout/signup']"
                        routerLinkActive="router-link-active">Not a
                        member
                        yet ?</a>
                </div>

            </div>

            <div class="shadow-lg p-3 mb-5 bg-white rounded mt-3">
                <router-outlet></router-outlet>
            </div>


        </div>
        <!-- child route -->

    </div>
</div>