.LoginImage {
  background-size: cover;
  height: 93vh;
  width: 70vw;
  position: absolute;
  left: -15px;
}
.headerText {
  color: #131313;
  letter-spacing: 0.15em;
  text-shadow: 1px -1px 0 #767676, -1px 2px 1px #737272, -2px 4px 1px #767474;
}
.rowImage {
  display: flex;
  flex-direction: row;
}
.textInputStyle {
  height: 50px;
  font-size: 20px;
  border-radius: 0%;
}
.signInButton {
  height: 50px;
  font-size: 20px;
}
