<button
  class="btn btn-lg mt-5 mb-4 text-center shadow p-3 mb-5 bg-info"
  style="border-radius: 30px;color:#ffff;"
>
  <i class="fa fa-trash" aria-hidden="true" style="color:#ffff;"></i
  >&nbsp;&nbsp;Delete
</button>
&nbsp;&nbsp;
<button
  class="btn btn-lg mt-5 mb-4 text-center shadow p-3 mb-5 bg-primary"
  style="border-radius: 30px;color:#ffff;"
>
  <i class="fa fa-refresh" aria-hidden="true" style="color: #ffff;"></i
  >&nbsp;&nbsp;Refresh
</button>

<table class="table table-bordered ">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Subject</th>
      <th scope="col">Time</th>
      <th scope="col">Delete Email</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="
        let item of my_email | paginate: { itemsPerPage: 5, currentPage: p };
        let i = index
      "
      (click)="callMe(item.id)"
      [routerLink]="['/afterSignin/inbox/emaildetails']"
      class="showEmail"
    >
      <th scope="row">
        {{ i + 1 }}
      </th>
      <td
        [ngStyle]="
          item.read ? { fontWeight: 'normal' } : { fontWeight: 'bold' }
        "
      >
        {{ item.myEmail }}
      </td>
      <td
        [ngStyle]="
          item.read ? { fontWeight: 'normal' } : { fontWeight: 'bold' }
        "
      >
        {{ item.Exercise }}
      </td>
      <td
        [ngStyle]="
          item.read ? { fontWeight: 'normal' } : { fontWeight: 'bold' }
        "
      >
        {{ item.Time }}
      </td>
      <td (click)="deleteEmail(item.id)">
        <button class="btn btn-danger">
          <i class="fa fa-trash-o" aria-hidden="true"></i>&nbsp;&nbsp;Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
<div class="col-md-12 col-sm-12">
  <ng-template #content let-modal centered="true">
    <div class="modal-body">
      <p>
        Hello, <b>{{ myUser }}</b> you want to delete E-mail?
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger">
        Delete
      </button>
      <button type="button" class="btn btn-outline-dark">
        cancel
      </button>
    </div>
  </ng-template>
</div>
<pagination-controls (pageChange)="p = $event"> </pagination-controls>
