<form [formGroup]="loginForm" (ngSubmit)="post(loginForm)">
    <div class="form-group mt-2">
        <input type="email" class="form-control textInputStyle" formControlName="email" id=""
            aria-describedby="emailHelpId" placeholder="Enter the Email">
        <br />

        <input type="password" class="form-control textInputStyle" formControlName="password" id=""
            aria-describedby="emailHelpId" placeholder="Enter the Passwordssss">
        <br />
        <button type="submit" class="btn btn-primary  signInButton mr-2">
            <i class="fa fa-user-circle-o" aria-hidden="true" style="margin-right: 20px;"></i>Login
            Now</button>
        <button type="reset" class="btn btn-danger signInButton">
            <i class="fa fa-times" aria-hidden="true" style="margin-right: 10px;"></i>Cancel</button>

    </div>
</form>