<div>
    <h1 class="text-center">Using our Services</h1>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Don’t misuse our Services. For example, don’t interfere with our
            Services or try to access them using a method other than the interface and the instructions that
            we provide.</li>
        <li class="list-group-item">You may use our Services only as permitted by law, including applicable
            export and re-export control laws and regulations. </li>
        <li class="list-group-item">We may suspend or stop providing our Services to you if you do not
            comply with our terms or policies or if we are investigating suspected misconduct.</li>
        <li class="list-group-item">Using our Services does not give you ownership of any intellectual
            property rights in our Services or the content you access. </li>
    </ul>
</div>