<button class="btn btn-lg mt-5 mb-4 text-center shadow p-3 mb-5 bg-info" style="border-radius: 30px;color:#ffff;">
    <i class="fa fa-trash" aria-hidden="true" style="color:#ffff;"></i>&nbsp;&nbsp;Delete</button>
&nbsp;&nbsp;
<button class="btn btn-lg mt-5 mb-4 text-center shadow p-3 mb-5 bg-primary" style="border-radius: 30px;color:#ffff;">
    <i class="fa fa-thumb-tack" aria-hidden="true" style="color: #ffff;"></i>&nbsp;&nbsp;mark as
    read</button>
&nbsp;&nbsp;
<button class="btn btn-lg mt-5 mb-4 text-center shadow p-3 mb-5 bg-danger" style="border-radius: 30px;color:#ffff;">
    <i class="fa fa-long-arrow-right" aria-hidden="true" style="color: #ffff;"></i>&nbsp;&nbsp;mark
    as
    Forward</button>
<table class="table table-bordered ">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Subject</th>
            <th scope="col">Time</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of trashMessage | paginate: { itemsPerPage: 5, currentPage: p } let i = index;">
            <th scope="row">{{i+1}}</th>
            <td>{{item.to}}</td>
            <td>{{item.Exercise}}</td>
            <td>{{item.Time}}</td>

        </tr>

    </tbody>
</table>
<pagination-controls (pageChange)="p = $event">

</pagination-controls>