<div class="panel panel-default">
    <div class="panel-body">
        <div class="text-center mt-5">

            <h2 class="text-center">Forgot Password?</h2>
            <p>You can reset your password here.</p>
            <div class="panel-body">

                <form id="register-form" role="form" autocomplete="off" class="form" method="post">

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i
                                    class="glyphicon glyphicon-envelope color-blue"></i></span>
                            <input id="email" name="email" placeholder="email address" class="form-control"
                                type="email">
                        </div>
                    </div>
                    <div class="form-group">
                        <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Reset Password"
                            type="submit" (click)="forgot()">
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>