<body>
  <form [formGroup]="signupForm" (ngSubmit)="myData(signupForm)">
    <div class="form-group mt-2">
      <input
        type="email"
        class="form-control "
        id=""
        aria-describedby="emailHelpId"
        placeholder="user-name"
        formControlName="username"
      /><br />
      <input
        type="email"
        class="form-control "
        id=""
        aria-describedby="emailHelpId"
        placeholder="Enter the Email"
        formControlName="Email"
      />
      <br />
      <input
        type="password"
        class="form-control "
        id=""
        aria-describedby="emailHelpId"
        placeholder="Enter the Password"
        formControlName="password"
      />
      <br />
      <input
        type="password"
        class="form-control "
        id=""
        aria-describedby="emailHelpId"
        placeholder="Enter the Re-TypePassword"
        formControlName="retype"
      />
      <br />
      <button type="submit" class="btn btn-primary  mr-2">
        <i
          class="fa fa-user-circle-o"
          aria-hidden="true"
          style="margin-right: 20px;"
        ></i
        >Signup Now
      </button>
      <button type="reset" class="btn btn-danger">
        <i
          class="fa fa-times"
          aria-hidden="true"
          style="margin-right: 10px;"
        ></i
        >Cancel
      </button>
    </div>
  </form>
</body>
