<body [style.background]="'url(' + urcl + ')'" style="background-size: cover;">
  <nav class="navbar navbar-expand-sm navbar-dark bg-primary sticky-top">
    <a class="navbar-brand" href="#">Cismox Email</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link text-light" href="#" (click)="logout()"
            ><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;Logout
          </a>
        </li>
        <div class="row">
          <div class="col">
            <div ngbDropdown class="d-inline-block mr-2">
              <button
                class="btn btn-outline-primary text-light"
                id="dropdownBasic1"
                ngbDropdownToggle
              >
                <i class="fa fa-user"></i>&nbsp;{{ myUserEmail }}
              </button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem (click)="theme(content)">Theme</button>
                <button ngbDropdownItem>Display density</button>
              </div>
              <ng-template #content let-c="close" let-d="dismiss">
                <div class="modal-header">
                  <h4 class="modal-title" id="modal-basic-title">
                    Pick Your Theme
                  </h4>
                  <button
                    type="button"
                    class="close"
                    aria-label="Close"
                    (click)="d('Cross click')"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-4">
                        <img
                          src="https://cdn.pixabay.com/photo/2020/03/11/19/41/hawaii-4923130_960_720.jpg"
                          class="img-fluid"
                          style="max-height: 18rem;"
                          (click)="userWallpaper($event)"
                        />
                      </div>
                      <div class="col-md-4">
                        <img
                          src="https://www.hd-freewallpapers.com/latest-wallpapers/big-dog-breeds-pictures-download.jpg"
                          class="img-fluid"
                          style="max-height: 18rem;"
                          (click)="userWallpaper($event)"
                        />
                      </div>
                      <div class="col-md-4">
                        <img
                          src="https://www.hd-freewallpapers.com/eagle-image/bald-eagle-desktop-background-wallpaper.jpg"
                          class="img-fluid"
                          style="max-height: 18rem;"
                          (click)="userWallpaper($event)"
                        />
                      </div>
                      <div class="col-md-4">
                        <img
                          src="https://www.hd-freewallpapers.com/latest-wallpapers/desktop-image-of-a-parrot-wallpaper.jpg"
                          class="img-fluid"
                          style="max-height: 18rem;"
                          (click)="userWallpaper($event)"
                        />
                      </div>
                      <div class="col-md-4">
                        <img
                          src="https://www.hd-freewallpapers.com/latest-wallpapers/desktop-all-cars-pictures-download.jpg"
                          class="img-fluid"
                          style="max-height: 18rem;"
                          (click)="userWallpaper($event)"
                        />
                      </div>
                      <div class="col-md-4 mt-2">
                        <img
                          src="https://www.hd-freewallpapers.com/latest-wallpapers/cars-for-desktop-background-download.jpg"
                          class="img-fluid"
                          (click)="userWallpaper($event)"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-primary"
                    (click)="storeWallpaper()"
                  >
                    Save
                  </button>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </ul>
    </div>
  </nav>
  <section>
    <div class="col-md-12 col-sm-12">
      <div class="row">
        <div
          class="col-md-2 col-sm-12 text-center"
          style="border:1px solid grey;"
        >
          <button
            class="btn btn-lg mt-5 mb-4 text-center shadow p-3 mb-5 bg-white"
            style="border-radius: 30px;color:grey;"
            (click)="open(contents)"
          >
            <i class="fa fa-plus" aria-hidden="true" style="color: blue;"></i
            >&nbsp;&nbsp;compose
          </button>
          <br />
          <!-- modal is start -->
          <ng-template #contents let-modal centered="true">
            <form
              [formGroup]="myEmailData"
              (ngSubmit)="mySendEmailData(myEmailData)"
            >
              <div class="modal-header bg-primary">
                <h4 class="modal-title text-light" id="modal-basic-title">
                  New Message
                </h4>
                <button
                  type="button"
                  class="close"
                  aria-label="Close"
                  (click)="modal.dismiss('Cross click')"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="form-group">
                  <label for="To">To</label>
                  <div class="input-group">
                    <input
                      class="form-control"
                      placeholder="Sender Email Id"
                      formControlName="To"
                    />
                    <div class="input-group-append"></div>
                  </div>
                  <label for="Subject">Subject</label>
                  <div class="input-group">
                    <input
                      class="form-control"
                      placeholder="Ex.I meet today Night"
                      name="dp"
                      formControlName="Subject"
                    />
                  </div>
                  <label for="Description">Description</label>
                  <div class="input-group">
                    <textarea
                      class="form-control"
                      id="exampleFormControlTextarea1"
                      rows="5"
                      placeholder="Hello User How are you ?"
                      formControlName="Description"
                    ></textarea>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-info">Send</button>
                <button
                  type="reset"
                  class="btn btn-outline-dark"
                  (click)="modal.close('Save click')"
                >
                  Cancel
                </button>
              </div>
            </form>
          </ng-template>

          <div class="row">
            <div class="col-md-12 " style="border:1px solid grey;">
              <a class="nav-link text-center mt-3 mb-3" href="#">Folders</a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 " style="border:1px solid grey;">
              <a
                class="nav-link text-left mt-3 mb-3"
                [routerLink]="['/afterSignin/inbox']"
                routerLinkActive="active"
              >
                <i class="fa fa-inbox" aria-hidden="true"></i
                >&nbsp;&nbsp;&nbsp;&nbsp;Inbox</a
              >
              <a
                class="nav-link text-left mt-3 mb-3"
                [routerLink]="['/afterSignin/outbox']"
              >
                <i class="fa fa-archive" aria-hidden="true"></i
                >&nbsp;&nbsp;&nbsp;&nbsp;Outbox</a
              >
              <a
                class="nav-link text-left mt-3 mb-3"
                [routerLink]="['/afterSignin/trash']"
              >
                <i class="fa fa-trash" aria-hidden="true"></i
                >&nbsp;&nbsp;&nbsp;&nbsp;Trash</a
              >
            </div>
          </div>
          <!-- remove the row -->
          <div class="row mt-5 d-none d-md-flex">
            <div class="col-md-4 mt-5">
              <div class="col-md-4 mt-5"></div>
            </div>
          </div>

          <!-- remove the row -->

          <div class="row mt-5 d-none d-md-flex">
            <div class="col-md-12 ">
              <div class="col-md-4 mt-5"></div>
            </div>
          </div>
          <!-- remove the row -->

          <div class="row mt-5 d-none d-md-flex">
            <div class="col-md-12 ">
              <div class="col-md-4 mt-5"></div>
            </div>
          </div>
          <!-- remove the row -->

          <div class="row mt-5 d-none d-md-flex">
            <div class="col-md-12 ">
              <div class="col-md-4 mt-5"></div>
            </div>
          </div>
        </div>
        <div class="col-md-10 col-sm-12" style="border:1px solid grey;">
          <!-- <h1>Gajjar Darshit</h1> -->
          <router-outlet></router-outlet>

          <div class="row ">
            <div class="col-md-12 col-sm-12 fixed-bottom ">
              <div class="row">
                <div class="col-md-12" style="border:1px solid grey;"></div>
              </div>
              <!-- <hr class="w-100"
                                style="border:1px solid grey;position: relative;left:-20vh;right:120vw;" /> -->

              <p class="text text-center text-primary mt-2" style="">
                Copyright 2020 @ Volansys Technology
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
